<p>signin works!</p>

<form  action="./success.html"
method="POST" >
    <div class="flex1">
        <div class="formRow four">
            <div class="inputData">
                <input type="email" name="email" class="email" placeholder="Email Address:" required/><br/>
            </div>
        </div>
        <div class="formRow one">
            <div class="inputData">
                <input type="password" name="password" class="fullName" required placeholder="password" required/>
            </div>
        </div>

    </div>
    
    <div class="d-flex justify-content-center py-5 border-primary" >            
        <input type="submit" class="submit"  value="accept">
    </div>
</form>