<app-navigation></app-navigation>

<div class="formCont">
    <h2>User form</h2>
    <form >
        <div class="flex1">
            <div class="formGroup one">
                <div class="inputData">
                    <label for="email">Email: </label>
                    <input type="email" name="email" class="formControl" placeholder="Email Address:" required/><br/>
                </div>
            </div>
            <div class="formGroup two">
                <div class="inputData">
                    <label for="password">Password: </label>
                    <input type="password" name="password" class="formControl" required placeholder="password" required/>
                </div>
            </div>

        </div>

        <div class="d-flex justify-content-center py-5 border-primary" >            
            <input type="submit" class="submit"  value="Login">
        </div>
    </form>
</div>